*.o
*.so
*.a
*.cmd
*.ko
*.mod
*.mod.c
*.order
*.symvers
*.out
x
*.txt
*.lst
*.asm
*.csv
*.tsv
cpugetinfo
countertypes.inc
DriverSrcLinux/Makefile
TestScripts/PHR_Attack/bin
TestScripts/PHR_Attack/victim_phr_model_init.nasm